* ,
*:before ,
*:after {
	box-sizing: border-box;
}


*::selection {
	background-color: $tertiary-color;
	color: $white;
}

body {
	margin: 0;
	color: $text-color;
	overflow-x: hidden;
	width: 100%;
}

.nav + .shop {
	margin-top: $nav-height;
}

