@keyframes spin {
	0%,100%{transform:translate(0)}
	25%{transform:translate(160%)}
	50%{transform:translate(160%, 160%)}
	75%{transform:translate(0, 160%)}
}

.page_loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: $auth-bg;

	.loader {
		display: flex;
		flex-shrink: 0;
		/*change these sizes to fit into your project*/
		width:50px;
		height:50px;
		position: relative;
		margin-bottom: 2em;
	
		hr {
			border:0;
			margin:0;
			width:40%;
			height:40%;
			position:absolute;
			border-radius: 50%;
			animation:spin 2s ease infinite;
	
			&:first-child {
				background:$primary-color;
				animation-delay:-1.5s
			}
			&:nth-child(2) {
				background:$secondary-color;
				animation-delay:-1s
			}
			&:nth-child(3) {
				background:$tertiary-color;
				animation-delay:-0.5s
			}
			&:last-child {
				background:$teal
			}
		}
	}
}