
:root {
	font-size: $base-font-size;
	font-family: $font-family;
}

html {
	p,.h1,.h2,.h3,.h4,.h5,.h6,
	h1,h2,h3,h4,h5,h6 , a,
	body, input, textarea, button, select {
		font-family: $font-family;
	}

	.h1,.h2,.h3,.h4,.h5,.h6,
	h1,h2,h3,h4,h5,h6 {
		font-weight: 600;
	}

	p {
		font-weight:  normal;
	}

	@each $name,$value in $text-colors {
		.c_#{$name} {
			color: $value;
		}
	}
}