.notFoundPage {

	display: flex;
	align-items: center;
	justify-content: center;

	.row {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.title {
		font-size: 3.5em;
		width: 80%;
	}

	.desc {
		font-size: 1.25em;
		font-weight: 500;
		line-height: 1.5;
		color: $text-color-light;
	}

	img {
		width: 100%;
	}
}