.auth {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $login-bg;
	display: flex;
	align-items: center;
	justify-content: center;

	// .auth_paper
	&_paper {
		padding: 1em;
		background-color: #fff;
		width: calc(100% - 1em);
		max-width: 600px;
		margin: 0 auto;
	}

	// .auth_header
	&_header {
		text-align: center;
		color: $tertiary-color;
	}

	// .auth_form
	&_form {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;

		.field {
			width: 100%;
			margin-bottom: 2em;
			label {
				display: block;
				width: 100%;
				margin-bottom: .25em;
				font-weight: 600;
				text-transform: uppercase;
				font-size: .8em;
				letter-spacing: .15em;
				color: $text-color;
			}
			input {
				width: 100%;
				font-size: 1.25em;
				padding: .5em 1em;
				border: none;
				background-color: $lightgrayblue;
				line-height: 1;
				color: $text-color;
				font-weight: 500;
				outline: none !important;
			}
		}
	}

	// .auth_extras
	&_extras {
		text-align: center;
		.noAccount {
			color: $text-color-light;
			font-weight: 500;
			font-style: italic;
		}
	}
}