.login {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	background-color: $login-bg;

	display: flex;
	align-items: center;
	justify-content: center;

	// .login_paper
	&_paper {
		padding: 1em;
		background-color: #fff;
		width: calc(100% - 1em);
		max-width: 800px;
		margin: 0 auto;
	}


	&_header {
		text-align: center;
	}

	&_form {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}
}